@{
    ViewBag.Title = "O mnie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Pasjonuję się programowaniem w języku C# i techologią Asp.Net MVC.Od małego chłopca interesuję się sztukami walki.SBR jest systemem obronnym ,który utworzyłem i ciągle modyfikuję. </p>
