@{
    ViewBag.Title = "Strona główna";
}

<br />

<div class="jumbotron tlo">
    <div class="row">
        <div class="col-sm-3">
            <a href="~/Foto/logo3.jpg" class="thumbnail">
    <img src="~/Foto/logo3.jpg" width="250" title="Logo" alt="Logo SBR" />
            </a>

</div>
        <div class="col-sm-6 col-sm-offset-1 text-danger ">
            <h1><b>SBR-</b><b>S</b>ystem<br /> <b>B</b>ezpośredniej<br /><b>R</b>eakcji</h1>

        </div>


    </div>
</div>
<!--Sledier-->

<div class="row ">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="carousel" class="carousel slide">
            <!-- Wskaźniki w postaci kropek -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>

            <!-- Slajdy -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Photo/Pozycja%20Prz%c3%b3dPelnaOchrona.jpg" />

                
                    <!-- Opis slajdu -->
                    <div class="carousel-caption">
                        <h4>Postawa ,, front"" z ochraniaczem</h4>

                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Photo/PozycjaBoczna.jpg" />
                    
                    <!-- Opis slajdu -->
                    <div class="carousel-caption">
                        <h4>Postawa widok z boku</h4>

                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Photo/PozycjaPrzod.jpg" />

                    
                    <!-- Opis slajdu -->
                    <div class="carousel-caption">
                        <h4>Postawa ,,front"</h4>
                    </div>
                </div>

            </div>

            <!-- Strzałki do przewijania -->
            <a class="left carousel-control" href="#carousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
</div>
<!--Sekcja-->
<section>
    <div class="row ">
        <h2 class="text-center alert-warning">Informacje ogólne</h2>
    </div>

    <div class="row">
        <article>
            <div class="col-sm-4">
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        <h3>Co to jest SBR?</h3>
                    </div>
               <div class="panel-body alert-info">
                      <p>  
                          <a href="~/Content/Photo/Cios.jpg" class="thumbnail">
                              <img src="~/Content/Photo/Cios.jpg"width="130" />




                          </a>
                        SBR jest systemem obronnym,zbudowanym na bazie systemu Wing-chun.Dodano także pojedyńcze techniki z takich systemów jak Krav maga,Sistema,Tai-chi,Jet-kunde-do.Wszystko to zmodyfikowano ,aby techniki były proste do nauczenia,praktyczne w walce ulicznej.
                    </p>
                   </div>
                </div>
            </div>
        </article>
        <article>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>Kto może ćwiczyć?</h3>
                    </div>
                    <div class=" panel-body alert-info">
                        <p>
                            <a href="~/Content/Photo/Kopniecie.jpg" class="thumbnail">
                                <img src="~/Content/Photo/Kopniecie.jpg" width="150"/>




                            </a>

                            Praktycznie to każdy może ćwiczyć SBR,nie mniej jednak powinna to być osoba ukształtowana emocjonalnie(dojrzała),gdyż <mark><span class="alert-danger">SBR zawiera techniki ,które w razie użycia mogą zagrażać zdrowiu lub życiu.</span></mark>.Osoba chcąca ćwiczyć SBR nie musi być silna fizycznie ani nadzwyczajnie wygimnastykowana.
                            </p>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="col-sm-4 ">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3> Jaki ubiór ?</h3>
                    </div>
                    <div class="panel-body alert-info">

                        <p>
                            <a href="~/Content/Photo/Ochrona.jpg" class="thumbnail">
                                <img src="~/Content/Photo/Ochrona.jpg" width="100"height="100"/>




                            </a>
                            W początkowych fazach treningu wystarczą tenisówki,koszulka(T-shirt)  oraz  spodnie,   które używamy w codziennym życiu,abyśmy uczyli się bronić  w naturalnym ,codziennym stroju .W póżniejszych treningach będą potrzebne rękawice typu ,,chwytaczki" oraz kask ochronny z kratką i ochraniacz na korpus.

                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!--aside-->
<hr />
<aside>
    <h2>Przydatne linki</h2>
    <nav>
        <ul class="label-warning">
            <li> <a href="https://www.youtube.com/channel/UC2NH07Y5tx_PQvqaQGzxKxQ">Wing chun</a></li>
            <li><a href="https://www.youtube.com/watch?v=8DCtUoTVOW0&list=PL85GHvU_Rc3sHO2rBTZHQGlEQhnCcnFTj">Systiema</a></li>
            <li><a href="https://www.youtube.com/watch?v=yZdJwwDBypI">Krav maga</a></li>
            <li><a href="https://www.youtube.com/watch?v=RZkoH6hN1R8">Tai chi</a></li>
            <li><a href="https://www.youtube.com/watch?v=9xs25_whwcg&list=RD9xs25_whwcg#t=780">JKD</a></li>

        </ul>
    </nav>
</aside>
<base target="_blank" />