@{
    ViewBag.Title = "Przykładowe lekcje";
}
<h2 class="text-center">@ViewBag.Title.</h2>
<div class=" row">
    <div class="col-sm-5">
        <video controls="controls"width="400">
            <source src="~/Content/Movie/cwiczenieZeSkakanka.mp4" type="video/mp4" />
        </video>     
       
                   
    </div>
    <div class="col-sm-5 col-sm-offset-2">
        <section>
            <h4>Trening ze skakanką</h4>
            <p>
                Trening ze skakanką jest bardzo ważny ,gdyż Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            </p>
        </section>
    </div> 
</div>
<hr />

<div class=" row">
    <div class="col-sm-5">        
        <video controls="controls"width="400">
            <source src="~/Move/Trening_ciosyProste.mp4" type="video/mp4" />
        </video>
                     
        
        </div>
        <div class="col-sm-5 col-sm-offset-2">
            <section>
                <h4>Ciosy proste</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                </p>
            </section>
        </div> 
    </div>
<hr />


<div class=" row">
    <div class="col-sm-5">       

            <video controls="controls"width="400">
                <source src="~/Content/Movie/TrenigZdrewniakiem.mp4" type="video/mp4" />
            </video>
        
        </div>
        <div class="col-sm-5 col-sm-offset-2">
            <section>
                <h4>Trening z drewniakiem</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                </p>
            </section>
        </div> 

    </div>



